<!DOCTYPE html>
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title #{title} - Hackathon Starter
        meta(name='description', content='')
        meta(name='theme-color' content='#4DA5F4')
        meta(name='csrf-token', content=_csrf)
        link(rel='shortcut icon', href='/images/favicon.png')
        link(rel="stylesheet", href="/static/libs/bootstrap.min.css" crossorigin="anonymous")
        link(rel='stylesheet', href='/static/css/index.css')
    body
        include ./_common/header

        .article
            block content

        include ./_common/footer
        script(src="/static/libs/jquery-3.4.1.slim.min.js")
        script(src="/static/libs/popper.min.js")
        script(src="/static/libs/bootstrap.min.js")