extends ../layout.pug

block content
    .container
        if data
            h4 #{data.title}
            p
                em #{data.author} 
                if data.read
                    small readed
                else
                    small unreaded
            p #{data.details.description}
        else 
            p 无数据...
