extends ../layout.pug

block content
    .container
        h4 #{data.title}
        p
            em #{data.author} 
            if data.read
                small readed
            else
                small unreaded
