extends ../layout.pug

block content
    .container
        section.row
            ul
                each val in data
                    li 
                        h4 #{val.title}
                        p
                            em #{val.author} - 
                            if val.read
                                small readed 
                            else
                                small unreaded 
                            a(href='/books/' + val._id) more
